@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/* variables */
:root {
  /* colors */
  --primary-color: #fdebd3;
  --secondary-color: #e8f2df;
  --text-color: rgb(163, 163, 163);
  --winning-color: #264e70;
  /* font weight */
  --thin-weight: 400;
  --normal-weight: 600;
  --bold-weight: 700;
}
/* reset */
html {
  color-scheme: dark;
  font-size: 1rem;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  background-color: var(--secondary-color);
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
  border: none;
  outline: none;
}
image,
picture,
svg,
video {
  display: block;
  width: 100%;
}

/* general */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  min-height: 100vh;
  margin: auto;
}
.hidden {
  display: none !important;
}
h1 {
  font-weight: var(--bold-weight);
}
.btn {
  background-color: #fdebd3;
  font-weight: var(--bold-weight);
  border-radius: 0.6rem;
  padding: 1rem 2rem;
  box-shadow: 0 0.2rem 0.1rem 0 #00000062;
  font-size: 2rem;
  color: inherit;
  transition: all 0.1s;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.7;
}
.btn:active {
  box-shadow: 0 0rem 0rem 0 #00000062;
}

/* layout */

/* choose mode component */

.choose-mode-component .container > * {
  display: flex;
  width: 20rem;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}
.choose-mode-component .container .mode-title {
  font-size: 5rem;
}

/* game component */
.game-component .container {
  gap: 6rem;
}
.result {
  display: flex;
  align-items: center;
  box-shadow: 0 0.2rem 0.1rem 0 #00000062;
  font-weight: var(--normal-weight);
  font-size: 3rem;
  gap: 1rem;
  background-color: #fdebd3;
  width: 100%;
}

.result [class^="player-"] {
  border-bottom: 0.4rem solid rgba(0, 0, 0, 0);
  padding: 2rem 0;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  gap: 1rem;
}

@media screen and (max-width: 38em) {
  .container {
    margin: 1rem 0;
    gap: 1rem;
  }
  .cells {
    padding: 0.5rem;
  }
  .result {
    flex-direction: column;
  }
  .result [class^="player-"],
  .result .tie {
    width: 100%;
    flex-direction: row;
  }
  .result [class^="player-"] *,
  .result .tie * {
    flex-grow: 1;
    text-align: center;
  }
}
.cells {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 30rem;
  width: 30rem;
  gap: 1rem;
}

.cells [class^="cell-"] {
  box-shadow: 0 0.2rem 0.1rem 0 #00000062;
  border-radius: 0.6rem;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9rem;
  height: 9rem;
  font-size: 4rem;
  color: inherit;
}
.cells [class^="cell-"]:hover {
  cursor: pointer;
}
.bottom-section {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 0 4rem;
}

@media screen and (max-width: 55em) {
  .bottom-section {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
  }
}
.winning-on {
  background-color: var(--winning-color) !important;
}
.beat-animation {
  animation: beat 1s infinite;
}
@keyframes beat {
  0% {
    background-color: var(--primary-color);
  }
  50% {
    background-color: var(--winning-color);
  }
  100% {
    background-color: var(--primary-color);
  }
}

.sign-0 {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  border: 1.2rem solid #679186;
}

.sign-1 {
  position: relative;
  display: inline-block;
  width: 8rem;
  height: 8rem;
}

.sign-1::before,
.sign-1::after {
  content: "";
  position: absolute;
  top: 37%;
  left: -6%;
  width: 9rem;
  height: 2rem;
  background-color: #f9b4ab;
  border-radius: 0.8rem;
}
.sign-1::before {
  transform: rotate(45deg);
}
.sign-1::after {
  transform: rotate(-45deg);
}
