@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
/* variables */
:root {
  /* colors */
  --primary-color: #334155;
  --secondary-color: #020617;
  --text-color: #f8fafc;
  --winning-color: #94a3b8;
  /* font weight */
  --thin-weight: 400;
  --normal-weight: 600;
  --bold-weight: 800;
}
/* reset */
html {
  color-scheme: dark;
  font-size: 1rem;
}
body {
  font-family: "Russo One", sans-serif;
  color: var(--text-color);
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
  border: none;
  outline: none;
}
image,
picture,
svg,
video {
  display: block;
  width: 100%;
}
/* layout */
body {
  background-color: var(--secondary-color);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  margin: 3.5rem auto;
}

.result {
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 2rem;
}
.result [class^="player-"],
.result .tie {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.result [class^="player-"] [class^="score-"],
.result .tie .tie-times {
  align-self: center;
}
.cells {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 30rem;
  width: 30rem;
  gap: 1rem;
}

.cells [class^="cell-"],
.general {
  padding: 1rem;
  border: 0.4rem solid black;
  box-shadow: inset 0rem 0rem 1rem black;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  color: inherit;
}
.cells [class^="cell-"] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9rem;
  height: 9rem;
  font-size: 4rem;
}
.cells [class^="cell-"]:hover {
  cursor: pointer;
}
.bottom-section {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
}
.display-turn {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
}
.btn {
  font-size: 2rem;
  transition: all 0.3s;
}
.btn:hover {
  cursor: pointer;
  box-shadow: inset 0rem 0rem 0.5rem rgba(0, 0, 0, 0.695);
}
.winning-on {
  background-color: var(--winning-color) !important;
}
.beat-animation {
  animation: beat 1s infinite;
}
@keyframes beat {
  0% {
    background-color: var(--primary-color);
  }
  50% {
    background-color: var(--winning-color);
  }
  100% {
    background-color: var(--primary-color);
  }
}
